@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.first {
    margin-top: 10px;
    border: 10px ridge gray;
    background-color: black;
    color: white;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spoof{
    margin: 40px;
    border: 1px solid #fff;
}
.one{
    margin-left: 80px;
}
.spoof .text{
    margin-top: 30px;
    margin-left: 500px;
}
.spoof .text img{
    height: 450px;
}
.two{
    margin-top: -350px;
    margin-right: 120px;
}

.container{
    background-color: bisque;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 80px;
}

.top{
    border: 7px ridge rgb(125, 37, 5);
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
    background-color: rgb(40, 38, 38);
    color: #fff;
    margin-top: 30px;
    background-image: url(./imgs/book2.jpg);
}

.container1{
    background-color: rgb(181, 181, 238);
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 80px;
    margin: 0 75px;
    height: 1000px;
}

.container2{
    margin-top: 40px;
    border: 5px double rgb(168, 95, 236);
    height: 700px;
    display: flex;
    background-color: rgb(244, 244, 195);
}
.container2 img{
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 100px;
    height: 420px;
    justify-content: flex-start;
}
.setup{
    margin-top: 200px;
}
.delivery{
    padding: 100px;
    justify-content: flex-end;
}

.container3{
    margin: 400px;
    margin-top: 1px;
    border: 3px dotted blueviolet;
    height: 300px;
    padding-top: 30px;
    background-color: antiquewhite;
}
.hi{
    padding-top: 7px;
    padding-left: 15px;
}
.in{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.container4{
    margin: 100px;
    margin-top: -200px;
    background-color: rgb(229, 215, 215);
}
.faq{
    text-align: center;
}

footer {
    width: 100%;
    background-color: #1c1b1e;
    display: flex;
    justify-content: space-evenly;
    padding: 4% 8%;
    }

    footer i {
        display: flex;
        justify-content: center;
    }
    footer div {
    padding-right: 60px;
    }

    footer div p {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    color: white;
    opacity: 0.9;
    letter-spacing: 1px;
    }

    footer div a {
    text-decoration: none;
    color: white;
    display: block;
    margin-top: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 14px;
    opacity: 0.8;
    }
